        
  <!-- <details><summary>(click to expand) <strong>Knowledge List</strong></summary> -->

  {%- assign list='ML DL XAI RL' | split: ' '  -%}
  {% for tag in list %}

      <h2> {{tag}} </h2>
      <div class="table-responsive">
        <table class="table table-sm table-borderless">
          <tr>
          <th> Topic </th> 
          <th> Title </th>
          <th> Last Update </th>
        </tr>
            {%- assign news = site.article  | sort: "subcategory" -%}
            {% for item in news %} 
            {%if item.category == {{tag}}%}

            <tr>
                <th style="color:rgb(99, 99, 103);  font-size: large;  font-family:Georgia, 'Times New Roman', Times, serif">   {{item.subcategory}} </th>
                <td>
                    <a style="color:black; font-size: large; font-family: 'Times New Roman', Times, serif;"  href="{{ item.url | relative_url }}">{{ item.title }}</a>
                </td>
                <td scope="row">{{ item.date | date: "%b %-d, %Y" }}</td>
              </tr>
            {% endif %}
            {%- endfor %}  
        </table>
      </div>
  {% endfor %}

            

<!-- <details><summary>(click to expand) <strong>Knowledge List</strong></summary> -->

{%- assign list='TORCH DATA' | split: ' '  -%}
{% for tag in list %}
      <h2> {{tag}} </h2>
      <div class="table-responsive">
        <table class="table table-sm table-borderless">
          {% for item in site.article  %} 
          {%if item.category == {{tag}}%}
            <tr>
              <th>   {{item.subcategory}} </th>

              <td>
                <!-- {% if item.inline -%}  -->
                  <!-- {{ item.content | remove: '<p>' | remove: '</p>' | emojify }} -->
                <!-- {{ item.content | item.tags |  }} -->
                <!-- {%- else -%}  -->
                  <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                <!-- {%- endif %}  -->
              </td>
              <td scope="row">{{ item.date | date: "%b %-d, %Y" }}</td>
            </tr>
          {% endif %}
          {%- endfor %}  
        </table>
      </div>
{% endfor %}


