          
  <div class="news">
    {% if site.news != blank -%} 
    <!-- <details><summary>(click to expand) <strong>Knowledge List</strong></summary> -->

      
      <!-- <ul>
        <li>Clustering
          <ul>
            <li> Markov  Clustering </li>
            <li> Spectral  Clustering </li>
            <li> Affinity Propagation </li>
            <li> DBSCAN </li>
            <li> K-means </li>
          </ul>
        </li>
        <li>Linear Algebra
          <ul>
            <li> Eigenvectors </li>
            <li> Positive Definite </li>
            <li> Power method </li>
            <li> Expansion and Inflation</li>
          </ul>
        </li>
        <li>Statistics
          <ul>
            <li> Distributions </li>
            <li> Variational Bayes </li>
          </ul>
        </li>
        <li>Sampling
          <ul>
            <li> Thompson sampling </li>
          </ul>
        </li>
      </ul> -->
      
      <!-- </details> -->
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {%- assign news = site.article | reverse -%} 
      {% for item in news limit: site.news_limit %} 
        <tr>
          <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
          <td>
            {% if item.inline -%} 
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {%- else -%} 
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {%- endif %} 
          </td>
        </tr>
      {%- endfor %} 
      </table>
    </div>
  {%- else -%} 
    <p>No news so far...</p>
  {%- endif %} 
  </div>