        
  <!-- <details><summary>(click to expand) <strong>Knowledge List</strong></summary> -->

  <h1> Literature Reviews </h1>
  {%- assign list='XAI NLP' | split: ' '  -%}
  {% for tag in list %}
<div style="width: 100%; border-radius: 12px; font-size: large; background-color: rgb(249, 252, 168); text-align:center;"> 
  {{tag}} </div>
      <div class="table-responsive">
        <table class="table table-sm table-borderless"         style="border-collapse:separate;
        border:solid black 1px;
        border-radius:6px;">
          <colgroup>
            <col style="width:20%">
            <col style="width:50%">
            <col style="width:30%">
          </colgroup>  
          <!-- <tr>
            <th> {{tag}} </th> 
            <th  style="text-align:left;">  </th>
            <th  style="text-align:left;"> Last Update </th>
          </tr> -->
          {% for item in site.reviews  %} 
          {%if item.category == {{tag}}%}
          <tr>
            <th style="color:rgb(32, 99, 73);  font-size: large;  font-family:Georgia, 'Times New Roman', Times, serif">   {{item.subcategory}} </th>
            <td>
                <a style="color:black; font-size: large; font-family: Georgia, 'Times New Roman', Times, serif"  href="{{ item.url | relative_url }}">{{ item.title }}</a>
            </td>
            <td scope="row">{{ item.date | date: "%b %-d, %Y" }}</td>
          </tr>
          {% endif %}
          {%- endfor %}  
        </table>
        <br>
      </div>
{% endfor %}



  
  
  
  {%- assign list='ICLR ICML NeurIPS AAAI' | split: ' '  -%}
  {% for tag in list %}
  <div style="width: 100%; border-radius: 12px; font-size: large; background-color: rgb(152, 231, 252); text-align:center;"> 
    {{tag}} </div>
        <div class="table-responsive">
          <table class="table table-sm table-borderless"         
          style="border-collapse:separate;
          border:solid black 1px;
          border-radius:6px;">
            <colgroup>
              <col style="width:20%">
              <col style="width:50%">
              <col style="width:30%">
            </colgroup>  
            <!-- <tr>
              <th> {{tag}} </th> 
              <th  style="text-align:left;">  </th>
              <th  style="text-align:left;"> Last Update </th>
            </tr> -->
            {% for item in site.reviews  %} 
            {%if item.category == {{tag}}%}
            <tr>
              <th style="color:rgb(32, 99, 73);  font-size: large;  font-family:Georgia, 'Times New Roman', Times, serif">   {{item.subcategory}} </th>
              <td>
                  <a style="color:black; font-size: large; font-family: Georgia, 'Times New Roman', Times, serif"  href="{{ item.url | relative_url }}">{{ item.title }}</a>
              </td>
              <td scope="row">{{ item.date | date: "%b %-d, %Y" }}</td>
            </tr>
            {% endif %}
            {%- endfor %}  
          </table>
          <br>
        </div>
  {% endfor %}
  
  
  



