/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

// Typography


h1{
  margin-top: 1.0rem;
  font-size: 26px;
}

h2{
  margin-top: 1.0rem;
  font-size: 24px;
}


h3{
  margin-top: 1.0rem;
  font-size: 22px;
}


h4{
  margin-top: 1.0rem;
  font-size: 20px;
}

h1, h2, h3,  h4, h5, h6{
  margin-bottom: .9rem;
  // font-family: 'Open Sans', sans-serif; ;
  font-weight: 400;

}


h1, h2, h3, h4, h5, h6, strong, div{
  color: var(--global-text-color);
  // font-family:'Open Sans', sans-serif; ;
  // font-weight: 400;
  // font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
  // font-family :"Roboto", Helvetica, Arial, sans-serif;
}
 li, ul{
  color: var(--global-text-color);
  font-size: var(--global-text-size);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;;
  // font-weight: 100;
  // font-weight :250;
  // line-height:  140%;
  line-height: 140%;
  margin-top:10px;
  margin-bottom:10px;
  font-weight: 400;
  // margin-bottom: 10px;
}
strong{
  font-weight:700;
  font-size: var(--global-text-size);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;;

  // font-family: 'Open Sans', sans-serif; ;
  // font-family:  "Cambria, Georgia, serif"; //"Roboto", Helvetica, Arial, sans-serif;
}

span {
  color: var(--global-text-color);
  // font-family:Arial, Helvetica, sans-serif;
  font-size: var(--global-text-size);
  font-weight: 200;

}
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;;
  color: var(--global-text-color);
  line-height: 160%;
  font-weight: 350;
  font-size: var(--global-text-size);
  // word-break: keep-all;
  word-wrap: normal;
  hyphens: auto;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  // margin-top: 2.0rem;
}

hr {
  border-top: 1px solid var(--global-divider-color);
}

table {

  // border-collapse:separate;
  border:solid black 1px;
  // border-radius:6px;

    tr{
      border-bottom: 1px solid #000000;
      // border-right: 0.5px dashed #03054e;
      // border-left: 0.5px dashed #03054e;
      background-color: #ffffff;
      // border-top: 2px solid #000000;
  }

    td, th {
      font-size: var(--global-text-size);
      color: var(--global-text-color);
      // border: 2px solid #444444;
      // border-bottom: 1px solid #444444;
      border-left: 0.5px dashed #444444;
      padding: 10px;
      // border-left: 1px solid #444444;
      // border-right: 1px solid #444444;
    }
    
    // th:first-child, td:first-child {
    //   border-left: none;
    //   border-bottom: 2px solid #000000;
    //   border-top: 2px solid #000000;
    //   border: 1px;
    // }
    th{
      border-top: 2.5px solid #03054e;
      border-bottom: 2.5px solid #03054e;
      
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

}

a, table.table a {
  color: #0070e8;
  &:hover {
    color: #0070e8;
    text-decoration: underline;
  }
  &:hover:after :not(.nav-item.dropdown) {
    width: 100%;
  }
  font-size: var(--global-text-size);
}

figure, img {
  max-width: 60vw;
  margin-top: 0.0rem;

}

blockquote {
  background: var(--global-bg-color);
  border-left: 3px solid var(--global-theme-color);
  // margin: 1.5em 10px;
  padding-top: 4px;
  color: #5e5e5e;
  background-color:#f0f0f053;
}

// Math

.equation {
  margin-bottom: 1rem;
  text-align: center;
}

// Caption

.caption {
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

// Card

.card {
  background-color: var(--global-card-bg-color);
  
  img {
    width: 100%;
  }

  .card-title {
    color: var(--global-text-color);
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;

    .row {
      display: flex;
      align-items: center;
    }
  }
}

// Citation

.citation, .citation-number {
  color: var(--global-theme-color);
}

// Profile

.profile {
  margin-left: 1rem;
  width: 100%;

  .address {
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    p {
      display: inline-block;
      margin: 0;
      text-align: center;
    }
  }
}

@media (min-width: 576px) {
  .profile {
    width: 30%;
    .address {
      p { display: block; }
    }
  }
}

.post-description {
  // font-family:Cursive;
  margin-bottom: 2rem;
  a {
    color: inherit;
    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}


// Navbar customization

.navbar {
  box-shadow: none;
  // border-bottom: 5px dashed #18009f;
  border-bottom: 2px solid  #a8a8a8;
  background-color: #ffffff; 
  opacity: 1.0;
}
.navbar .dropdown-menu {
  background-color: var(--global-bg-color);
  border: 1px solid var(--global-divider-color);
  a:not(.active) {
    color: var(--global-text-color);
  }
  a:hover {
    color: var(--global-hover-color);
  }
  .dropdown-divider {
    border-top: 1px solid var(--global-divider-color) !important;
  }
}
.dropdown-item {
  color: var(--global-text-color);
    &:hover {
      color: var(--global-hover-color);
      background-color: var(--global-bg-color);
    }
}
.navbar.navbar-light {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .navbar-brand {
    // font-family: cursive;
    color: var(--global-text-color);
  }
  .navbar-nav .nav-item .nav-link {
    padding-right: 1.5rem;
    color: var(--global-text-color);
    &:hover {
      color: var(--global-hover-color);
    }
  }
  .navbar-nav .nav-item.active>.nav-link {
      background-color: inherit;
      font-weight: bolder;
      color: var(--global-theme-color);
      &:hover {
        color: var(--global-hover-color);
      }
  }
  .navbar-brand.social {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1.7rem;
    a {
      i::before {
        color: var(--global-text-color);
        transition-property: all 0.2s ease-in-out;
      }
      &:hover {
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }
}

.navbar-toggler {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--global-text-color);
    border-radius: 1px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

// Social (bottom)

.social {
  text-align: center;
  .contact-icons {
    font-size: 4rem;
    a {
      i::before {
        color: var(--global-text-color);
        transition-property: all 0.2s ease-in-out;
      }
      &:hover {
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }
  .contact-note {
    font-size: 0.8rem;
  }
}


// Footer
footer.fixed-bottom {
  background-color: var(--global-footer-bg-color);
  font-size: 0.75rem;
  .container {

    color: var(--global-footer-text-color);
    padding-top: 9px;
    padding-bottom: 8px;
  }
  a {
    color: var(--global-footer-link-color);
    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  border-top: 1px solid var(--global-divider-color);
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9rem;
}


// Blog

.header-bar {
  border-bottom: 0.5px solid var(--global-divider-color);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0rem;
  h1 {
    color: var(--global-theme-color);
    font-size: 3rem;
  }
  li{
    font-size:16px;
  }
}

.post-list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  li {
    border-bottom: 1px solid var(--global-divider-color);
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    .post-meta {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      margin-bottom: 0;
    }
    .post-tags {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      padding-top: 0.1rem;
    }
    a {
      color: var(--global-text-color);
      text-decoration: none;
      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
}

.pagination {
  .page-item {
    .page-link {
      color: var(--global-text-color);
      &:hover {
        color: $black-color;
      }
    }
    &.active .page-link {
      color: $white-color;
      background-color: var(--global-theme-color);
      &:hover {
        background-color: var(--global-theme-color);
      }
    }
  }
}


// Distill

.distill {
  a:hover {
    border-bottom-color: var(--global-theme-color);
    text-decoration: none;
  }
}


// Projects

.projects {
  a {
    text-decoration: none;

    &:hover {
      .card-title {
        color: var(--global-theme-color);
      }
    }
  }

  .card {
    img {
      width: 100%;
    }
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;

    .row {
      display: flex;
      align-items: center;
    }
  }

  .grid-sizer, .grid-item {
    width: 250px;
    margin-bottom: 10px;
  }

  h2.category {
    color: var(--global-divider-color);
    border-bottom: 1px solid var(--global-divider-color);
    padding-top: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: right;
  }
}


// Publications

.publications {
  margin-top: 2rem;
  h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h2 {
    margin-bottom: 1rem;
    span {
      font-size: 1.5rem;
    }
  }
  h2.year {
    color: var(--global-divider-color);
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }
  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;
      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;
        abbr {
          display: inline-block;
          background-color: var(--global-theme-color);
          padding-left: 1rem;
          padding-right: 1rem;
          a {
            color: white;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .award {
          color: var(--global-theme-color) !important;
          border: 1px solid var(--global-theme-color);
        }
      }
      .title {
        font-weight: 550;
        // font-family: cursive;
      }
      .author {
        a {
          border-bottom: 1px dashed var(--global-theme-color);
          &:hover {
              border-bottom-style: solid;
              text-decoration: none;
          }
        }
        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }
      }
      .links {
        a.btn {
          color: var(--global-text-color);
          border: 1px solid var(--global-text-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          &:hover {
            color: var(--global-theme-color);
            border-color: var(--global-theme-color);
          }
        }
      }
      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 140%;
          margin: 10px;
        }
        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }
      .hidden.open {
        max-height: 100em;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }
      div.abstract.hidden {
        border: dashed 1px var(--global-bg-color);
      }
      div.abstract.hidden.open {
        border-color: var(--global-text-color);
      }
    }
  }
}

// Rouge Color Customization
figure.highlight {
  margin: 0 0 1rem;
}

pre {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 6px;
  padding: 6px 12px;
  pre, code {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    font-family: 'Liberation Mono', sans-serif; 
    line-height: 100%;

  }
}

code {
  color: #000000;
  background-color: #ffe2fe;
  border-radius: 10px;
  // padding: 1px 1px;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size:  var(--global-text-size);
  padding-left: 5px;
  padding-right: 5px;
}


// Transitioning Themes
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

// Extra Markdown style (post Customization)
.post{
  .post-meta{
    color: var(--global-text-color-light);
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  .post-tags{
    color: var(--global-text-color-light);
    font-size: 0.9rem;
    padding-bottom: 0.01rem;
    a {
      color: var(--global-text-color-light);
      text-decoration: none;
      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
  .post-content{
        blockquote {
          border-left: 5px solid var(--global-theme-color);
          padding: 5px;
      }
}
}

.post-tags {
  color: var(--global-text-color-light);
  font-size: 0.875rem;
  padding-top: 0.05rem;
}

.img-fluid{
  max-width:50%
}



.img-fluid-80{
  max-width:80%
}


.img-fluid-100{
  max-width:100%
}


.box-demo-link{
  border-radius: 5px;
  font-size: 14px;
  background: #302b2f;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  color: #fff  ;
  // width: 220px;
  padding: 3px;
  margin: 0;
}





.column-first {
  font-size: 16px;
  float: left;
  width: 70%;
  // padding-left: 30px;
  text-align: justify;
  // font-weight: 100;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  
}



.column-second {
  float: left;
  width: 30%;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.demolink{
padding: 0%;
margin-bottom: .5rem;
}

.demo-title{
  font-size:larger ;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: .5rem;
  margin-top: 0.5rem;
}

.authors {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  margin-bottom: .5rem;
}


.img-demo{
  max-width:100%;
  padding-left: 10px;
  color: #b4ffff;

}




.text-box{
  border-radius: 2px;
  // font-size: 14px;
  color:black;
  background: #e2e2e2;
  // font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  // color: #fff  ;
  // width: 220px;
  padding: 2px;
  margin: 0;
}



.transform img, figcaption {
  transition: all 0.3s linear;
}


.transform:hover img {
  transform: scale(1.2);
  transform-origin: 50% 100%;
}
.transform:hover  figcaption {
  transform: scale(1.2); 
  transform-origin: 50% 10%;
}


ul.timeline {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul.timeline li {
  position: relative;
  min-height: 2.2rem;
  color: #003670;
  list-style-position: inside;
}

ul.timeline li::before {
  content: "";
  min-height: 3.5rem;
  width: 1px;
  background: var(--global-text-color);
  margin: 0;
  padding: 0;
  position: absolute;
  left: 2px;
  top: -0.5rem;
}


span.badge-toc {
  color: var(--global-bg-color);
  background-color: var(--global-theme-color);
  border-radius: 0.125rem;
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;
  font-weight: 700 !important;
  display: inline-block;
  inline-size: fit-content;
}
